{% extends 'base.html' %}
{% block content %}
<br><h1 style='text-align: center'><u>Edit Attendance {{ session.name }}</u></h1><br><br>
{% if all_users %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Samithi</th>
              <th scope="col">Bhajan vikas</th>
              <th scope="col">Attendance</th>
            </tr>
        </thead>
        <tbody>
        {% for user in all_users %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.samithi.name }}</td>
              <td>
                {% if user.is_bhajan_vikas %}
                    <span><img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/ok-16.ico"></span>
                {% else %}
                    <span><img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/x-mark-16.ico"></span>
                {% endif %}
              </td>
                <td>
                    <form class="form-inline" action="/session/{{ session.id }}/edit_attendance/{{ user.id }}" method="post">
                        <div class="form-group mx-sm-3 mb-2">
                            <select class="form-control" id="selectcontrol1" name="user{{ user.id }}">
                                <option>Absent</option>
                                <option>Present</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mb-2">Confirm</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No attendance</h1>
{% endif %}
{% endblock %}