{% extends 'base.html' %}
{% block content %}
<div class="container" style="text-align: center";>
    <br><h1 style="text-align: center">{{ sheet_data.name }}- User - Edit</h1><br><br>
    {% if all_dates %}
        {% for date in all_dates %}
            <div class="row row-striped" style="border-style: double">
                <div class="col-4 text-right" >
                    <h1 class="display-4" style="margin-top: 10px"><span class="badge badge-secondary">{{ date.day }}</span></h1>
                    <h2>{{ sheet_data.month }}</h2>
                    <h5>{{ sheet_data.year }}</h5>
                </div>
                <div class="col-3">
                    <h3 class="text-uppercase" style="margin: 10px"><strong>Sadhana</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"> {{ date.strftime('%A') }}</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 6:00 AM - 9:00 PM</li>
                        <li class="list-inline-item"><span><img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/person-with-folded-hands_1f64f.png" width="20" height="20"></span> Swami</li>
                    </ul>
                    {% if date.strftime('%Y-%m-%d') == current_day.strftime('%Y-%m-%d') %}
                        <a href="/sadhana_sheet/{{ sheet_data.id }}/edit/{{ date.strftime('%Y-%m-%d') }}" class="btn btn-primary">Edit Sadhana Pointer</a>
                    {% else %}
                        <a href="#" class="btn btn-secondary">Edit Sadhana Pointer</a>
                    {% endif %}
                </div>
                <div class="col-2 left">
                    <img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/abhayasai.jpg" width="120" height="120" style="margin: 20px">
                </div>
            </div><br><br>
            {% endfor %}

    {% else %}
        <h4> No data available for sheet</h4>
    {% endif %}
</div>
{% endblock %}