{% extends 'base.html' %}
{% block content %}
<div class="container" style="text-align: center">
    <br><h1 style="text-align: center">Sadhana Sheets</h1><br><br>

    {% if active_sheet %}
        <h2>Active Sheet</h2>
        <div class="card" style="width: 18rem; display: inline-block">
          <img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/samadhi.jpg" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">{{ active_sheet.name }}</h5>
              <p class="card-text">
                  <span>Date: {{ active_sheet.month }}</span><br>
                  <span>Year: {{ active_sheet.year }}</span>
              </p>
              <div class="row" style="display: inline-block">
                    <a href="/sadhana_sheet/{{ active_sheet.id }}/view" class="btn btn-primary">View Sheet</a>
                    <a href="/sadhana_sheet/{{ active_sheet.id }}/edit" class="btn btn-primary">Edit Sheet</a>
              </div>

          </div>
        </div>
    {% else %}
        <h2>No active sheets found</h2>
    {% endif %}
</div>

<br><br><hr>
<div class="container">
{% if previous_sheets %}
    <h2>Previous Sheets</h2>
    {% for sheet in previous_sheets %}
        <div class="card" style="width: 18rem;">
          <img src="https://bhajanvikas.s3.ap-south-1.amazonaws.com/samadhi.jpg" class="card-img-top" alt="...">
          <div class="card-body">

            <h5 class="card-title">{{ sheet.name }}</h5>
              <p class="card-text">
                  <span>Date: {{ sheet.month }}</span><br>
                  <span>Time: {{ sheet.year }}</span>
              </p>
              <div class="wrapper" style="text-align: center">
                  <div class="row" style="display: inline-block">
                    <a href="/sadhana_sheet/{{ sheet.id }}/view" class="btn btn-primary">View Sheet</a>
                  </div>
              </div>
          </div>
        </div>
    {% endfor %}
{% else %}
    <h2>No previous sheets found</h2>
{% endif %}

</div>
{% endblock %}